################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hardy Part - Editor
/Hardy Part - Server
/Hardy Part - Map Editor
/Hardy Part/packages
